//Vars

$black: #000000;
$white:#FFFFFF;
$lightGrey:#D3D3D3;
$darkGrey:#696969;
$red:#B22222;

$BUTTON:rgba(#000,.8);
$BUTTON-HOVER:rgba(#000,.6);
$BUTTON-ACTIVE:rgba(#000,1);

//mixins

@mixin translateY($e){
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e){
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

//fonts


body {
  font-family: 'Ubuntu', serif;
  font-size: 25px;
  color: $black;
  font-weight: 400;
  font-style: normal;
  height: 100%;
//  margin-bottom: 140px;
}


a{
  @include transition(.2s ease-in-out);
  cursor: pointer;
  color: $BUTTON;
  &:hover{
      text-decoration: none;
      color: $BUTTON-HOVER;
  }
  &:active{
      color: $BUTTON-ACTIVE;
  }

}

.containter-fluid{
  line-height: 50px;
}
