@import "_config.scss";

header {
  font-family: 'Ubuntu';
  font-size: 25px;
  position: relative;
  display: block;
  width: 100%;
  background: $white;
  color: $black;
  height: 60px;
  margin-bottom: 15px;
  border-bottom: 2px solid;
  border-color: $lightGrey;


  .logo{
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li{
    margin: 0;
    padding: 0;
  }

  nav{
    position: absolute;
    top: 50%;
    left: 350px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 100px;

      &.last{
        margin: 0;
      }

      a{
        font-size: 20px;
        line-height: normal;
        color: $black;
      }
    }
  }
}

.content{
    height: 675px;
//    margin-left: 100px;
//    margin-right: 100px;
    // max-width: 1000px;
    // margin-left: auto;
  //   margin-right: auto;

}

.picture {
  position: relative;
  float: right;
  width: 60%;
  text-align: center;
}
.picture img{
  width: 90%;
}


// .picture img{
//   height: 60%;
//   width: 60%;
//       float: right;
// }

.text{
  margin-right: 100px;
}

.text p {
  font-size: 20px;
}

h1{
  margin-top: 50px;
  margin-bottom: 50px;
//  margin-left: 100px;
  font-weight: bold;
}



footer{
  font-family: 'Ubuntu';
  color: $darkGrey;
  position: relative;
  display: block;
  width: 100%;
  background: $lightGrey;
  height: 90px;
  bottom: 0px;
  //margin-top: 100px;
  clear: both;


}
