@import "_config.scss";

header {
  font-family: 'Ubuntu';
  font-size: 25px;
  position: relative;
  display: block;
  width: 100%;
  background: $white;
  color: $black;
  height: 60px;
  margin-bottom: 15px;
  border-bottom: 2px solid;
  border-color: $lightGrey;


  .logo{
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li{
    margin: 0;
    padding: 0;
  }

  nav{
    position: absolute;
    top: 50%;
    left: 350px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 100px;

      &.last{
        margin: 0;
      }

      a{
        font-size: 20px;
        line-height: normal;
        color: $black;
      }
    }
  }
}

.content{
    height: 675px;
//    margin-left: 100px;
//    margin-right: 100px;
    // max-width: 1000px;
    // margin-left: auto;
  //   margin-right: auto;

}

.picture {
  position: relative;
  float: right;
  width: 60%;
  text-align: center;
}
.picture img{
  width: 90%;
}


// .picture img{
//   height: 60%;
//   width: 60%;
//       float: right;
// }

.text{
  margin-right: 100px;
}

.text p {
  font-size: 20px;
}

h1{
  margin-top: 50px;
  margin-bottom: 50px;
//  margin-left: 100px;
  font-weight: bold;
}



footer{
  font-family: 'Ubuntu';
  color: $darkGrey;
  position: relative;
  display: block;
  width: 100%;
  background: $lightGrey;
  height: 90px;
  bottom: 0px;
  margin-top: 100px;
}

.signForm{
  
  .formBox{
    border-radius: 15px;
    width: 500px;
    height: 400px;
    text-align: center;
    // todo: add transperency to bgrnd color
    background-color: #2c3933;
    margin: 0 auto;
    margin-top: 150px;
  }

  // h2 references font on SIGN IN page
  h2{
    padding-top: 15px;
    color: #fff;
  }

  // h3 refernces Get Started on the SIGN UP page
  h3{
    color: #fff;
  }

  input{
    height: 45px;
    width: 450x;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    //background-color: 
  }

  button{
    // TODO: shrink button and change color;
    height: 45px;
    border-radius: 4px; // round corners = nice!
    border: none;
    background-color: rgb(28,74,147);
    color: #FFF;
    //padding: 15px 25px;
  }

  p{
    padding: 15px;
    font-size: 15px;
    color: #fff;
  }
  
}
  /*
  .inputField{
    //position: center;
    height: 45px;
    width: 450x;
    font-size: 18px;
    margin-top: 120px;
    //margin-bottom: 20px;
    //background-color: 
  }
}
*/
/*
.signForm{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #2c3338;
  // color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  //font-size: var(--bodyFontSize);
  //font-weight: var(--bodyFontWeight);
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

//inputs
/*
.signForm {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
*/